# Ignore object files and executable binaries
*.o
*.out
*.exe

# Ignore the 'obj' and 'bin' directories created by the Makefile
obj/
bin/

# Ignore VSCode settings folder
.vscode/

# Ignore any core dumps
core

# Ignore temporary/backup files created by editors or OS
*~
*.swp
.DS_Store

# If you have archives or compressed builds, ignore them
*.tar
*.tar.gz
*.zip
